body {
    font: arial;
}

a:link{
    color:black;
}
a:visited{
    color:black
}
a:hover{
    color: black;
}
a:active{
    color: black;
}

.navbar {
    text-align: right;
}

.navbar li {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.navbar a:link {
    text-decoration: none;
}

.center-div{
    display: flex;
    justify-content: center;
}

#advancedsearch-bars{
    display: list-item;
    padding: 1px 8px;
}

#advancedsearch-submit {
    line-height: 100%;
    height: 30px;
    min-width: 120px;
}

.appbar {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}
